<section class="mx-auto max-w-screen-xl py-28 px-6">
  <div class="text-center">
    <h2 class="alt">Features to help you</h2>
    <p class="md:!text-lg !text-zinc-500 !leading-[1.5] mt-3">
      Zap ui conceived and built by
      <span class="text-fuchsia-500">designers</span> and
      <span class="text-[#B519FF]">developers</span> together
    </p>
  </div>

  <div class="features__grid">
    <div class="feature__card__1 group">
      <div class="feature__card__1__content">
        <div class="feature__card__1__content__left">
          <span class="status-chip designer">To help designers</span>

          <span class="!text-white !text-xl max-lg:!text-lg !font-thin">
            Access Figma file
            <i class="fa-light fa-arrow-right ml-2 max-sm:ml-0"></i>
          </span>
        </div>

        <img src="assets/home/figma-logo.svg" alt="Figma logo" />
      </div>
    </div>

    <div class="feature__card__2 group">
      <div class="feature__card__2__content">
        <div class="feature__card__2__content__left">
          <span class="status-chip developer">To help developers</span>

          <div class="feature__card__2__number__section">
            <div class="feature__card__2__large__number">3</div>

            <div class="feature__card__2__text__section">
              <span
                class="xl:!text-5xl max-sm:!text-xl md:max-xl:!text-lg !font-thin text-white mb-2 max-sm:mb-0 md:max-xl:mb-0 lg:max-xl:!text-lg">
                steps to
              </span>
              <span
                class="xl:!text-5xl max-sm:!text-xl md:max-xl:!text-lg !font-thin text-white mb-4 max-sm:mb-0 md:max-xl:mb-0 lg:max-xl:!text-lg">
                set up
              </span>
              <span
                class="!text-xl max-sm:!text-base md:max-xl:!text-sm !font-light text-white underline cursor-pointer lg:max-xl:!text-sm">
                Try it now!
              </span>
            </div>
          </div>
        </div>
        <div class="feature__card__2__content__right">
          <img src="assets/home/setup.svg" alt="Figma logo" />
        </div>
      </div>
    </div>

    <div class="feature__card__3 group">
      <div class="feature__card__3__content">
        <div
          class="feature__card__3__bg__image1"
          [style.background-image]="'url(' + componentLibrary1 + ')'"></div>
        <div
          class="feature__card__3__bg__image2"
          [style.background-image]="'url(' + componentLibrary2 + ')'"></div>

        <div class="feature__card__3__content__left">
          <span class="status-chip designer">To help designers</span>
          <span class="!text-white !text-xl !font-thin">
            Robust components <br />
            library
          </span>
        </div>
      </div>
    </div>

    <div class="feature__card__4 group">
      <div class="feature__card__4__content">
        <div class="feature__card__4__content__left">
          <span class="status-chip developer">To help developers</span>
          <span class="!text-3xl !font-thin !leading-tight">
            Finally! <br />
            The material <br />
            you've been <br />
            looking for
          </span>
        </div>
      </div>
    </div>

    <div class="feature__card__5 group">
      <div class="feature__card__5__content">
        <div class="feature__card__5__content__left">
          <span class="status-chip designer">To help designers</span>
          <span class="!text-xl !font-thin md:max-xl:!text-lg">
            Extensive state <br />
            controls
          </span>
        </div>
        <div class="feature__card__5__content__right">
          <img src="assets/home/state-control.svg" alt="State control" />
        </div>
      </div>
    </div>

    <div class="feature__card__6 group">
      <div class="feature__card__6__content">
        <div class="feature__card__6__content__left">
          <span class="status-chip developer">To help developers</span>
          <span class="!text-white !text-xl max-sm:!text-lg !font-thin md:max-xl:hidden block">
            Tailwind v3.0 and v4.0 <br />
            plugins support
          </span>
          <span
            class="!text-white !text-xl max-sm:!text-lg !font-thin md:max-xl:!text-lg hidden md:max-xl:block">
            Tailwind v3.0 <br />
            and v4.0 <br />
            plugins support
          </span>
        </div>

        <img src="assets/home/tailwind-logo.svg" alt="Tailwind logo" />
      </div>
    </div>

    <div class="feature__card__7 group">
      <div class="feature__card__7__content">
        <div class="feature__card__7__content__left">
          <div class="feature__card__7__chips">
            <span class="status-chip designer">To help designers</span>
            <span class="status-chip developer">To help developers</span>
          </div>
          <span class="!text-3xl !font-thin !leading-tight"> Custom <br />theming </span>
        </div>
        <div class="feature__card__7__content__right">
          <img src="assets/home/custom-theming.svg" alt="Custom theming" />
        </div>
      </div>
    </div>

    <div class="feature__card__8 group">
      <div class="feature__card__8__content">
        <div class="feature__card__8__content__wrapper">
          <div class="feature__card__8__content__top">
            <span class="status-chip developer">To help developers</span>
            <span class="!text-3xl !font-thin !leading-tight mb-4">
              From global to <br />
              granular control
            </span>
          </div>

          <div class="feature__card__8__content__bottom">
            <img src="assets/home/global-granular.svg" alt="Global to granular control" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
