<app-theme-switcher class="col-span-1"></app-theme-switcher>
<section class="my-20">
  <p>Core</p>
  <div class="wrapper">
    <app-button class="col-span-2"></app-button>
    <app-badge class="col-span-1"></app-badge>
    <app-alert class="col-span-3"></app-alert>
    <app-chip class="col-span-2"></app-chip>
    <app-dialog class="col-span-1"></app-dialog>
    <app-modal class="col-span-3"></app-modal>
    <app-accordion class="col-span-1"></app-accordion>
    <app-tooltip class="col-span-1"></app-tooltip>
    <app-toast class="col-span-1"></app-toast>
    <app-toast class="col-span-1" [service]="true"></app-toast>
    <app-dropdown class="col-span-1"></app-dropdown>
  </div>

  <p>Forms</p>
  <div class="wrapper">
    <app-checkbox class="col-span-1"></app-checkbox>
    <app-input class="col-span-2"></app-input>
    <app-radio class="col-span-1"></app-radio>
    <app-textarea class="col-span-1"></app-textarea>
    <app-select class="col-span-1"></app-select>
    <app-date-picker class="col-span-1"></app-date-picker>
    <app-toggle class="col-span-1"></app-toggle>
  </div>
</section>
