<div
  class="wrapper mx-auto max-w-screen-2xl grid grid-cols-3 py-10 min-h-screen gap-5"
>
  <div>
    <zap-button
      text="Merge"
      icon="fa-code-merge"
    ></zap-button>
  </div>
  <div>
    <zap-button
      text="Switch theme"
      shape="flat"
      size="base"
      (click)="toggleTheme()"
    ></zap-button>
  </div>
  <zap-badge [count]="100"></zap-badge>
  <zap-chip text="Awaiting confirmation" icon="fa-bell" type="info"></zap-chip>
  <div class="relative w-full h-full col-span-2 dark:bg-[#09090B]/90 z-[100]">
    <zap-dialog zapClass="!absolute"></zap-dialog>
  </div>
  <zap-input
    label="Username"
    formControl="usernameControl"
    placeholder="Enter your username"
  ></zap-input>
  <div class="relative w-full h-full">
    <zap-modal zapClass="!absolute">
      <h2 class="font-semibold">Modal</h2>
      <p class="mt-2">
        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua
      </p>
    </zap-modal>
  </div>
</div>

<zap-alert type="info" class="fixed top-0">
  You have a new alert
</zap-alert>
