<div class="flex gap-x-4">
  <div class="flex flex-col gap-y-2">
    <zap-badge [count]="100"></zap-badge>
    <zap-badge [count]="8"></zap-badge>
    <zap-badge variant="outlined" [count]="8"></zap-badge>
  </div>
  <div class="flex flex-col gap-y-2">
    <zap-badge [count]="8" type="success"></zap-badge>
    <zap-badge [count]="8" type="info"></zap-badge>
    <zap-badge [count]="8" type="warning"></zap-badge>
    <zap-badge [count]="8" type="error"></zap-badge>
  </div>
  <div class="flex flex-col gap-y-2">
    <zap-badge variant="empty"></zap-badge>
    <zap-badge variant="empty" type="info"></zap-badge>
    <zap-badge variant="empty" type="warning"></zap-badge>
    <zap-badge variant="empty" type="error"></zap-badge>
    <zap-badge variant="empty" type="success"></zap-badge>
  </div>
  <div class="flex flex-col gap-y-2">
    <zap-badge [count]="8" type="success" variant="outlined"></zap-badge>
    <zap-badge [count]="8" type="info" variant="outlined"></zap-badge>
    <zap-badge [count]="8" type="warning" variant="outlined"></zap-badge>
    <zap-badge [count]="8" type="error" variant="outlined"></zap-badge>
  </div>
</div>
