@if (dialogOpen) {
  <zap-dialog (close)="dialogOpen = !dialogOpen" [showOverlay]="true">
    <div zapDialogFooter>
      <zap-button text="No, cancel" size="wide" variant="outlined" shape="curve"></zap-button>
      <zap-button text="Yes, I'm sure" size="wide" type="default" shape="curve"></zap-button>
    </div>
    <p class="text-zinc-500">Are you sure you want to delete this item?</p>
  </zap-dialog>
}
<div class="flex justify-center items-center h-[30vh]">
  <zap-button
    text="Open Dialog"
    size="wide"
    type="default"
    shape="curve"
    (click)="dialogOpen = !dialogOpen"></zap-button>
</div>
