<h1>Input</h1>

<p class="lead">
  Inputs are essential UI elements that allow users to enter and edit single-line text. They provide
  a clear, intuitive way to capture user data, enhancing form interactions and data collection.
</p>

<spacer height="40px"></spacer>

<ttl text="Basic input"></ttl>

<app-preview-code [markdown]="markdown">
  <div class="w-full max-w-sm mx-auto max-md:px-6">
    <zap-input
      id="input"
      label="Email"
      placeholder="Enter your email"
      [type]="type"
      [size]="size"
      [shape]="shape"
      [icon]="icon"
      [iconPosition]="iconPosition"></zap-input>
  </div>
</app-preview-code>

<spacer height="40px"></spacer>

<ttl text="Optional properties"></ttl>

<div class="info-card">
  <i class="fa-solid fa-circle-info mr-2"></i>Use the properties below to style the input and copy
  the code to your project. Try clicking on them.
</div>

<div class="max-w-full overflow-x-auto">
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th style="width: 200px">Property</th>
        <th style="width: 400px">Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><code>type</code></p>
        </td>
        <td>
          <p>
            <code (click)="updateType('text')">text</code> |
            <code (click)="updateType('number')">number</code> |
            <code (click)="updateType('password')">password</code> |
            <code (click)="updateType('email')">email</code> |
            <code (click)="updateType('tel')">tel</code>
          </p>
        </td>
        <td>
          <p>
            Defines the input type.
            <code (click)="updateType('text')">text</code> is a standard text input,
            <code (click)="updateType('number')">number</code> is a numeric input,
            <code (click)="updateType('password')">password</code> is a secure text input,
            <code (click)="updateType('email')">email</code>
            is an email input, and
            <code (click)="updateType('tel')">tel</code> is a phone number input. Default is
            <code (click)="updateType('text')">text</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>size</code></p>
        </td>
        <td>
          <p>
            <code (click)="updateSize('compact')">compact</code> |
            <code (click)="updateSize('base')">base</code>
          </p>
        </td>
        <td>
          <p>
            Controls input sizing.
            <code (click)="updateSize('compact')">compact</code> has less padding,
            <code (click)="updateSize('base')">base</code> follows the standard theme. Default is
            <code (click)="updateSize('base')">base</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>shape</code></p>
        </td>
        <td>
          <p>
            <code (click)="updateShape('flat')">flat</code> |
            <code (click)="updateShape('pill')">pill</code> |
            <code (click)="updateShape('curve')">curve</code>
          </p>
        </td>
        <td>
          <p>
            Defines the input shape.
            <code (click)="updateShape('pill')">pill</code> is a fully rounded input,
            <code (click)="updateShape('curve')">curve</code> has rounded corners, and
            <code (click)="updateShape('flat')">flat</code> is a classic square-cornered input.
            Default is <code (click)="updateShape('flat')">flat</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>icon</code></p>
        </td>
        <td>
          <p class="font-mono">string</p>
        </td>
        <td>
          <p>
            Specifies a Font Awesome class for the input's icon (e.g.,
            <code (click)="updateIcon('fa-send')">fa-send</code>).
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>iconPosition</code></p>
        </td>
        <td>
          <p>
            <code (click)="updateIconPosition('left')">left</code> |
            <code (click)="updateIconPosition('right')">right</code>
          </p>
        </td>
        <td>
          <p>
            Sets the icon's position relative to the input text. Defaults to
            <code (click)="updateIconPosition('left')">left</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>id</code></p>
        </td>
        <td>
          <p class="font-mono">string</p>
        </td>
        <td>
          <p>Defines the id of the input.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>label</code></p>
        </td>
        <td>
          <p class="font-mono">string</p>
        </td>
        <td>
          <p>Defines the label attached to the input.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>placeholder</code></p>
        </td>
        <td>
          <p class="font-mono">string</p>
        </td>
        <td>
          <p>Defines the placeholder of the input.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>helpText</code></p>
        </td>
        <td>
          <p class="font-mono">string</p>
        </td>
        <td>
          <p>Defines the help text of the input.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>autoComplete</code></p>
        </td>
        <td>
          <p class="font-mono">string</p>
        </td>
        <td>
          <p>Controls browser suggestions for input values.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>customErrorMessages</code></p>
        </td>
        <td>
          <p class="font-mono">string</p>
        </td>
        <td>
          <p>Provides the ability to set custom error messages.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>zapClass</code></p>
        </td>
        <td>
          <p class="font-mono">string</p>
        </td>
        <td>
          <p>
            Allows overriding default styles by passing Tailwind CSS classes. Utilize the
            <code class="!cursor-auto">&#64;zaplib/zapui/tailwind</code> plugin to target specific
            elements within the input component.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<spacer height="40px"></spacer>

<ttl text="Supported directives"></ttl>

<div class="max-w-full overflow-x-auto">
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th style="width: 20%">Selector</th>
        <th style="width: 20%">Directive name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><code>zapFormFieldIcon</code></p>
        </td>
        <td>
          <p class="font-mono">ZapFormFieldIconDirective</p>
        </td>
        <td>
          <p>
            Import a directive <code>ZapFormFieldIconDirective</code> into your component to enables
            adding any type of icon to a input, including SVGs, font-based icons, and more.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>zapFormFieldHelpText</code></p>
        </td>
        <td>
          <p class="font-mono">ZapFormFieldHelpTextDirective</p>
        </td>
        <td>
          <p>
            Import a directive <code>ZapFormFieldHelpTextDirective</code> into your component to
            enable adding any help text to an input.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>zapLabel</code></p>
        </td>
        <td>
          <p class="font-mono">ZapLabelDirective</p>
        </td>
        <td>
          <p>
            Import a directive <code>ZapLabelDirective</code> into your component to enable adding
            any label to an inout.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<spacer height="40px"></spacer>

<ttl text="Example" type="h4"></ttl>

<app-preview-code [markdown]="markdownDirective">
  <zap-input
    id="input2"
    placeholder="Choose a username"
    iconPosition="right"
    zapClass="!min-w-80 !z-0"
    class="px-10 w-full md:w-[40%]">
    <div zapLabel class="flex items-center gap-2">
      <i class="fa-solid fa-user"></i>
      <p>Username</p>
    </div>

    <svg zapIcon xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path
        fill="currentColor"
        d="M133.9 232L65.8 95.9 383.4 232l-249.5 0zm0 48l249.5 0L65.8 416.1l68-136.1zM44.6 34.6C32.3 29.3 17.9 32.3 8.7 42S-2.6 66.3 3.4 78.3L92.2 256 3.4 433.7c-6 12-3.9 26.5 5.3 36.3s23.5 12.7 35.9 7.5l448-192c11.8-5 19.4-16.6 19.4-29.4s-7.6-24.4-19.4-29.4l-448-192z" />
    </svg>

    <div zapHelpText>
      <p>Your username must be:</p>
      <ul>
        <li class="list-disc ml-4">Unique</li>
        <li class="list-disc ml-4">Be at least 6 characters long</li>
        <li class="list-disc ml-4">Not contain any special characters</li>
      </ul>
    </div>
  </zap-input>
</app-preview-code>

<spacer height="40px"></spacer>

<ttl text="Global configurations"></ttl>

<p>
  A list of global styles, including shape, size, color, font sizes, font weights, and letter
  spacing can be provided via <code>themeLibrary</code> in the
  <code>provideZapOption</code> provider.. If you have multi theme setup, you can also provide theme
  specific colors. These apply to all default variants through out the app unless component level
  styles are provided.
</p>
<spacer height="40px"></spacer>

<ttl text="Example" type="h5"></ttl>
<spacer></spacer>

<app-code
  [markdown]="markdownGlobal.markdown"
  [language]="markdownGlobal.language"
  [title]="markdownGlobal.title">
</app-code>

<spacer height="40px"></spacer>

<ttl text="Shape and Size" type="h5"></ttl>

<div class="max-w-full overflow-x-auto">
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th style="width: 20%"><p>Property</p></th>
        <th><p>Description</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><code>shape</code></p>
        </td>
        <td>
          <p>
            Defines the shape of the input. Can be <code>flat</code>, <code>curve</code>, or
            <code>pill</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>size</code></p>
        </td>
        <td>
          <p>
            Defined the size of the input. Can be <code>compact</code> |
            <code>base</code>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<spacer height="40px"></spacer>
<ttl text="Colors" type="h5"></ttl>
<p>You can provide each of these colors for different themes that you use</p>

<div class="max-w-full overflow-x-auto">
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th style="width: 20%"><p>Property</p></th>
        <th><p>Description</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><code>bgColor</code></p>
        </td>
        <td><p>Background color of the input.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>textColor</code></p>
        </td>
        <td><p>Text color of the input.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>borderColor</code></p>
        </td>
        <td><p>Border color of the input.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>labelColor</code></p>
        </td>
        <td><p>Text color of the label</p></td>
      </tr>
      <tr>
        <td>
          <p><code>placeholderColor</code></p>
        </td>
        <td><p>Text color of the placeholder</p></td>
      </tr>
      <tr>
        <td>
          <p><code>borderFocusColor</code></p>
        </td>
        <td><p>Border color of the input when focused.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>bgFocusColor</code></p>
        </td>
        <td><p>Background color of the input when focused.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>textFocusColor</code></p>
        </td>
        <td><p>Text color of the input when focused.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>iconColor</code></p>
        </td>
        <td><p>Color of the icon</p></td>
      </tr>
      <tr>
        <td>
          <p><code>helpTextColor</code></p>
        </td>
        <td><p>Text color of the help text</p></td>
      </tr>
    </tbody>
  </table>
</div>

<spacer height="40px"></spacer>
<ttl text="Other styles" type="h5"></ttl>
<p>You can provide a bunch of other styles, that are not theme based but rather generic</p>

<div class="max-w-full overflow-x-auto">
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th style="width: 20%"><p>Property</p></th>
        <th><p>Description</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><code>borderRadius</code></p>
        </td>
        <td><p>Defines the radius of the input's corners.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>paddingLeft</code></p>
        </td>
        <td><p>Left padding of the input.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>paddingRight</code></p>
        </td>
        <td><p>Right padding of the input.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>paddingTop</code></p>
        </td>
        <td><p>Top padding of the input.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>paddingBottom</code></p>
        </td>
        <td><p>Bottom padding of the input.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>padding</code></p>
        </td>
        <td><p>Padding around the input's content.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>width</code></p>
        </td>
        <td><p>Width of the input.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>height</code></p>
        </td>
        <td><p>Height of the input.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>fontSize</code></p>
        </td>
        <td><p>Font size of the input's text.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>fontWeight</code></p>
        </td>
        <td><p>Font weight of the input's text.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>lineHeight</code></p>
        </td>
        <td><p>Line height of the input's text.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>letterSpacing</code></p>
        </td>
        <td><p>Letter spacing of the input's text.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>labelFontSize</code></p>
        </td>
        <td><p>Font size of the label</p></td>
      </tr>
      <tr>
        <td>
          <p><code>labelFontWeight</code></p>
        </td>
        <td><p>Font weight of the label</p></td>
      </tr>
      <tr>
        <td>
          <p><code>labelLineHeight</code></p>
        </td>
        <td><p>Line height of the label</p></td>
      </tr>
      <tr>
        <td>
          <p><code>labelLetterSpacing</code></p>
        </td>
        <td><p>Letter spacing of the label</p></td>
      </tr>
      <tr>
        <td>
          <p><code>placeholderFontSize</code></p>
        </td>
        <td><p>Font size of the placeholder</p></td>
      </tr>
      <tr>
        <td>
          <p><code>placeholderFontWeight</code></p>
        </td>
        <td><p>Font weight of the placeholder</p></td>
      </tr>
      <tr>
        <td>
          <p><code>placeholderLineHeight</code></p>
        </td>
        <td><p>Line height of the placeholder</p></td>
      </tr>
      <tr>
        <td>
          <p><code>placeholderLetterSpacing</code></p>
        </td>
        <td><p>Letter spacing of the placeholder</p></td>
      </tr>
      <tr>
        <td>
          <p><code>iconFontSize</code></p>
        </td>
        <td><p>Font size of the icon</p></td>
      </tr>
      <tr>
        <td>
          <p><code>iconFontWeight</code></p>
        </td>
        <td><p>Font weight of the icon</p></td>
      </tr>
      <tr>
        <td>
          <p><code>iconLineHeight</code></p>
        </td>
        <td><p>Line height of the icon</p></td>
      </tr>
      <tr>
        <td>
          <p><code>iconLetterSpacing</code></p>
        </td>
        <td><p>Letter spacing of the icon</p></td>
      </tr>
      <tr>
        <td>
          <p><code>helpTextFontSize</code></p>
        </td>
        <td><p>Font size of the help text</p></td>
      </tr>
      <tr>
        <td>
          <p><code>helpTextFontWeight</code></p>
        </td>
        <td><p>Font weight of the help text</p></td>
      </tr>
      <tr>
        <td>
          <p><code>helpTextLineHeight</code></p>
        </td>
        <td><p>Line height of the help text</p></td>
      </tr>
      <tr>
        <td>
          <p><code>helpTextLetterSpacing</code></p>
        </td>
        <td><p>Letter spacing of the help text</p></td>
      </tr>
    </tbody>
  </table>
</div>

<spacer height="40px"></spacer>
