<zap-dropdown>
  <zap-dropdown-trigger>
    <zap-button text="Open"> </zap-button>
  </zap-dropdown-trigger>
  <zap-dropdown-menu>
    <zap-dropdown-menu-label>Random</zap-dropdown-menu-label>
    <zap-dropdown-separator></zap-dropdown-separator>
    <zap-dropdown-menu-group>
      <zap-dropdown-menu-item>Item1</zap-dropdown-menu-item>
      <zap-dropdown-menu-item>Item2</zap-dropdown-menu-item>
    </zap-dropdown-menu-group>
    <zap-dropdown-separator></zap-dropdown-separator>
    <zap-dropdown-menu-label>Random</zap-dropdown-menu-label>
    <zap-dropdown-separator></zap-dropdown-separator>
    <zap-dropdown-menu-group>
      <zap-dropdown-menu-item>Item1</zap-dropdown-menu-item>
      <zap-dropdown-menu-item>
        Item2
        <zap-dropdown-menu-shortcut>Cmd + S</zap-dropdown-menu-shortcut>
      </zap-dropdown-menu-item>
    </zap-dropdown-menu-group>
    <zap-dropdown-separator></zap-dropdown-separator>
    <zap-dropdown-menu-group>
      <zap-dropdown-menu-item>Item1</zap-dropdown-menu-item>
      <zap-dropdown-menu-sub-trigger>Item2</zap-dropdown-menu-sub-trigger>
      <zap-dropdown-menu-sub>
        <zap-dropdown-menu-group>
          <zap-dropdown-menu-item>Item1</zap-dropdown-menu-item>
          <zap-dropdown-menu-item>Item2</zap-dropdown-menu-item>
        </zap-dropdown-menu-group>
        <zap-dropdown-separator></zap-dropdown-separator>
        <zap-dropdown-menu-group>
          <zap-dropdown-menu-sub-trigger>Item2</zap-dropdown-menu-sub-trigger>
          <zap-dropdown-menu-sub>
            <zap-dropdown-menu-group>
              <zap-dropdown-menu-item>Item1</zap-dropdown-menu-item>
              <zap-dropdown-menu-item>Item2</zap-dropdown-menu-item>
            </zap-dropdown-menu-group>
          </zap-dropdown-menu-sub>
        </zap-dropdown-menu-group>
      </zap-dropdown-menu-sub>
    </zap-dropdown-menu-group>
  </zap-dropdown-menu>
</zap-dropdown>
