<section class="min-h-screen">
  <h1>Selects</h1>
  @for(item of markdowns; track item; let i = $index) {
  <ng-container
    *ngTemplateOutlet="
      card;
      context: {
        $implicit: markdowns[i].markdown,
        title: markdowns[i].title,
        index: i
      }
    "
  >
  </ng-container>
  }
</section>

<ng-template let-markdown let-title="title" let-index="index" #card>
  <div class="card">
    <div class="header">
      <h2>{{ title }}</h2>
    </div>
    <div class="content">
      <div class="ui">
        <form [formGroup]="form" class="flex flex-col gap-y-4">
          @switch(index) { @case(0) {
          <ngx-zen-select
            label="Select"
            id="assignee"
            formControlName="assignee"
            placeholder="Select assignee"
            [options]="options"
          ></ngx-zen-select>
          } @case(1) {
            <ngx-zen-select
            label="Select"
            id="assignee2"
            formControlName="assignee2"
            placeholder="Select assignee"
            [searchable]="true"
            [options]="options"
          ></ngx-zen-select>
          }}
        </form>
      </div>
      <div class="code-wrapper">
        <app-code-block [markdownData]="markdown"></app-code-block>
      </div>
    </div>
  </div>
</ng-template>
