<section class="min-h-screen">
  <h1>Selects</h1>
  @for(item of markdowns; track item; let i = $index) {
  <ng-container
    *ngTemplateOutlet="
      card;
      context: {
        $implicit: markdowns[i].markdown,
        title: markdowns[i].title,
        index: i
      }
    "
  >
  </ng-container>
  }
</section>

<ng-template let-markdown let-title="title" let-index="index" #card>
  <div class="card">
    <div class="header">
      <h2>{{ title }}</h2>
    </div>
    <div class="content">
      <div class="ui">
        <form [formGroup]="form" class="flex flex-col gap-y-4">
          @switch(index) { @case(0) {
          <ngx-zen-select
            label="Select"
            id="assignee"
            formControlName="assignee"
            placeholder="Select assignee"
            [options]="options2"
            [searchable]="true"
          ></ngx-zen-select>
          } @case(1) {
          <ngx-zen-select
            label="Select"
            id="assignee2"
            formControlName="assignee2"
            placeholder="Select assignee"
            [searchable]="true"
            [async]="true"
            (onSearch)="handleSearch($event)"
            (onReset)="handleReset()"
            [optionTemplate]="customOption"
            [options]="options"
            ></ngx-zen-select>
          } @case(2) {
          <ngx-zen-select
            label="Select"
            id="assignee2"
            formControlName="assignee2"
            placeholder="Select assignee"
            [searchable]="true"
            [multiselect]="true"
            searchPlaceholder="Search by name"
            [options]="options"
          ></ngx-zen-select>
          } @case(3) {
          <ngx-zen-select
            label="Select"
            id="assignee2"
            formControlName="assignee2"
            placeholder="Select assignee"
            [searchable]="true"
            [multiselect]="true"
            searchPlaceholder="Search by name"
            [options]="options"
            shape="curve"
          ></ngx-zen-select>
          }}

        </form>
      </div>
      <div class="code-wrapper">
        <app-code-block [markdownData]="markdown"></app-code-block>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #customOption let-option>
  <div class="custom-option">
    <strong>{{ option.label }}</strong>
    <p>a</p>
  </div>
</ng-template>