<section class="min-h-screen">
  <h1>Buttons</h1>
  @for(item of markdowns; track item; let i = $index) {
  <ng-container
    *ngTemplateOutlet="
      card;
      context: { $implicit: markdowns[i].markdown, title: markdowns[i].title, index: i }
    "
  >
  </ng-container>
  }
</section>

<ng-template let-markdown let-title="title" let-index="index" #card>
  <div class="my-4">
    <div class="header">
      <h2>{{ title }}</h2>
    </div>
    <div class="content">
      @switch(index) { @case(0) {
      <ngx-zen-button text="Submit" zenClass="bg-red-500"></ngx-zen-button>
      } @case(1) {
      <ngx-zen-button
        text="Submit"
        zenClass="bg-red-500"
        shape="curve"
      ></ngx-zen-button>
      } @case(2) {
      <ngx-zen-button
        text="Submit"
        zenClass="bg-red-500"
        shape="pill"
      ></ngx-zen-button>
      } @case(3) {
      <ngx-zen-button
        text="Submit"
        zenClass="bg-red-500"
        size="compact"
      ></ngx-zen-button>
      } @case(4) {
      <ngx-zen-button
        text="Submit"
        zenClass="bg-red-500"
        size="tight"
      ></ngx-zen-button>
      } @case(5) {
      <ngx-zen-button
        text="Submit"
        zenClass="bg-red-500"
        size="wide"
      ></ngx-zen-button>
      } @case(6) {
      <ngx-zen-button
        text="Submit"
        zenClass="bg-red-500"
        variant="outlined"
      ></ngx-zen-button>
      } @case(7) {
      <ngx-zen-button
        text="Submit"
        zenClass="bg-red-500"
        icon="fa-arrow-up"
        shape="curve"
      ></ngx-zen-button>
      } @case(8) {
      <ngx-zen-button
        text="Submit"
        zenClass="bg-red-500"
        variant="link"
      ></ngx-zen-button>
      } @case(9) {
      <ngx-zen-button
        text="Submit"
        zenClass="bg-red-500"
        type="icononly"
        icon="fa-search"
        shape="pill"
      ></ngx-zen-button>
      } @case(10) {
      <ngx-zen-button
        text="Submit"
        zenClass="bg-red-500"
        [disabled]="true"
      ></ngx-zen-button>
      } }
      <app-code-block [markdownData]="markdown"></app-code-block>
    </div>
  </div>
</ng-template>
