<section class="origin__story__wrapper">
  <div class="origin__story__container">
    <div class="origin__story__header">
      <span class="status__chip origin__story text-sm leading-tight font-normal">Origin story</span>
    </div>
    <div class="origin__story__content">
      <div class="origin__story__content__left">
        <span class="text-3xl lg:text-5xl font-extralight leading-[35px] lg:leading-[52px]">
          What's behind zap ui and why did we get here?
        </span>
      </div>
      <div class="origin__story__content__center">
        <div class="origin__story__text__container">
          <span class="text-base font-extralight lg:leading-tight leading-normal text-zinc-300">
            Having worked extensively with the Angular framework, we've noticed a recurring pattern:
            many components are reused across different projects in one way or another. This led us
            to wonder—why not use a pre-built library to streamline our workflow and save time?
          </span>
          <span class="text-base font-extralight lg:leading-tight leading-normal text-zinc-300">
            We began searching for libraries on the internet that align with our needs, particularly
            ones built with Tailwind as the base styling framework we with Tailwind as the base
            styling framework we prefer. While we found a few options, they fell short in several
            ways. Many libraries had outdated styling, lacked in-built functionality for essential
            components like form fields, and offered far fewer options compared to those available
            for React, Vue etc.
          </span>
        </div>
      </div>
      <div class="origin__story__content__right">
        <div class="origin__story__right__container">
          <span class="text-xl lg:text-2xl font-extralight text-zinc-300">
            Faced with these limitations, we decided to take matters into our own hands and build
            the solution we need.
          </span>
          <span class="text-xl lg:text-2xl font-extralight text-zinc-300">
            We are <br class="lg:block hidden" />
            <a
              href="https://togethercreative.co.uk"
              target="_blank"
              class="!text-xl lg:!text-2xl !font-extralight !text-zinc-300 !underline"
              >togethercreative.co.uk</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
