<h1>Zap UI Kit</h1>

<p class="lead">
  Zap UI Kit is a free, open-source Figma component library for rapid design with Zap UI. Get
  variants, auto layout, light and dark mode support for all the components.
</p>

<div class="rounded-2xl overflow-hidden shadow-lg relative h-[20rem] base:h-[30rem]">
  <img src="assets/figma.png" alt="Figma" class="h-full w-full object-cover object-left-top" />
  <div
    class="absolute inset-0 top-0 left-o h-full w-full from-zinc-950/10 via-zinc-950/30 to-purple-900/60 bg-gradient-to-br"></div>
  <zap-button
    text="Access Figma Kit"
    class="absolute bottom-4 right-4"
    icon="fa-brands fa-figma"
    (click)="openFigmaKit()">
  </zap-button>
</div>
