<section class="min-h-screen">
  <h1>Checkboxes</h1>
  @for(item of markdowns; track item; let i = $index) {
  <ng-container
    *ngTemplateOutlet="
      card;
      context: {
        $implicit: markdowns[i].markdown,
        title: markdowns[i].title,
        index: i
      }
    "
  >
  </ng-container>
  }
</section>

<ng-template let-markdown let-title="title" let-index="index" #card>
  <div class="card">
    <div class="header">
      <h2>{{ title }}</h2>
    </div>
    <div class="content">
      <div class="ui">
        <form action="" [formGroup]="form">
          @switch(index) { @case(0) {
          <ngx-zen-checkbox
            id="terms"
            label="I accept the terms and conditions"
            formControlName="terms"
            zenClass=""
          >
          </ngx-zen-checkbox>
          } @case(1) {
          <ngx-zen-checkbox id="terms2" formControlName="terms2" zenClass="">
          </ngx-zen-checkbox>
          } @case(2) {
          <ngx-zen-checkbox id="terms3" formControlName="terms3" shape="curve">
          </ngx-zen-checkbox>
          } @case(3) {
          <ngx-zen-checkbox id="terms4" formControlName="terms4" shape="pill">
          </ngx-zen-checkbox>
          } }
        </form>
      </div>
      <div class="code-wrapper">
        <app-code-block [markdownData]="markdown"></app-code-block>
      </div>
    </div>
  </div>
</ng-template>
