<section class="min-h-screen">
  <h1>Textarea</h1>
  @for(item of markdowns; track item; let i = $index) {
  <ng-container
    *ngTemplateOutlet="
      card;
      context: {
        $implicit: markdowns[i].markdown,
        title: markdowns[i].title,
        index: i
      }
    "
  >
  </ng-container>
  }
  <h2>Properties</h2>
  <table>
    <thead>
      <tr>
        <th class="w-[10%]">Parameter</th>
        <th class="w-[10%]">Required</th>
        <th class="w-[30%]">Accepted values</th>
        <th class="w-[50%]">Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>id</code></td>
        <td><p>Required</p></td>
        <td><code>string</code></td>
        <td>
          <p>Accepts a unique identifier for the form control.</p>
        </td>
      </tr>
      <tr>
        <td><code>formControlName</code></td>
        <td><p>Required</p></td>
        <td><code>string</code></td>
        <td>
          <p>
            Accepts a form control name from either your form group or your
            single control
          </p>
        </td>
      </tr>
      <tr>
        <td><code>label</code></td>
        <td><p>Optional</p></td>
        <td><code>string</code></td>
        <td>
          <p>Accepts a label for the form control.</p>
        </td>
      </tr>
      <tr>
        <td><code>placeholder</code></td>
        <td><p>Optional</p></td>
        <td><code>string</code></td>
        <td>
          <p>Accepts a placeholder for the form control.</p>
        </td>
      </tr>
      <tr>
        <td><code>shape</code></td>
        <td><p>Optional</p></td>
        <td><code>curve</code>|<code>default</code></td>
        <td>
          <p>
            Defines the input shape. "Curve" has rounded corners, and "default"
            is a classic square-cornered input.
          </p>
        </td>
      </tr>
      <tr>
        <td><code>rows</code></td>
        <td><p>Optional</p></td>
        <td><code>string</code></td>
        <td>
          <p>
            Specifies the number of visible rows for the form control, provided
            as a string. The default value is "10".
          </p>
        </td>
      </tr>
      <tr>
        <td><code>resize</code></td>
        <td><p>Optional</p></td>
        <td><code>none</code> | <code>vertical</code> | <code>auto</code></td>
        <td>
          <p>
            Controls how the textarea can be resized.
            <code>auto</code>: Automatically resizes as the user types.
            <code>none</code>: Disables manual resizing. <code>vertical</code>:
            Allows manual vertical resizing.
          </p>
        </td>
      </tr>
      <tr>
        <td><code>zenClass</code></td>
        <td><p>Optional</p></td>
        <td><code>string</code></td>
        <td>
          <p>
            Allows overriding default styles by passing Tailwind CSS classes.
            Utilize the <code>ngx-zen/tailwind</code> plugin to target specific
            elements within the alert component.
          </p>
        </td>
      </tr>
      <tr>
        <td><code>customErrorMessages</code></td>
        <td><p>Optional</p></td>
        <td><code>Record&lt;string, string&gt;</code></td>
        <td>
          <p>
            Accepts custom error messages for the form control. Defaults to
            automatically generated error messages.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h2 class="mt-5">Zen Classes</h2>
  <table>
    <thead>
      <tr>
        <th class="w-[10%]">Prefixes</th>
        <th class="w-[50%]">Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>textarea</code></td>
        <td>
          <p>
            Accepts Tailwind CSS classes for the textarea, e.g.,
            <code>textarea:bg-red-500</code>. Some classes may need to be forced
            with an exclamation mark <code>!</code>, e.g.,
            <code>textarea:!ring-red-500</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td><code>label</code></td>
        <td>
          <p>
            Accepts Tailwind CSS classes for the label, e.g.,
            <code>label:bg-red-500</code>. Some classes may need to be forced
            with an exclamation mark <code>!</code>, e.g.,
            <code>label:!ring-red-500</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td><code>error</code></td>
        <td>
          <p>
            Accepts Tailwind CSS classes for the error, e.g.,
            <code>error:bg-red-500</code>. Some classes may need to be forced
            with an exclamation mark <code>!</code>, e.g.,
            <code>error:!ring-red-500</code>.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template let-markdown let-title="title" let-index="index" #card>
  <div class="card">
    <div class="header">
      <h2>{{ title }}</h2>
    </div>
    <div class="content">
      <div class="ui">
        <form action="" [formGroup]="form">
          @switch(index) { @case(0) {
          <ngx-zen-textarea
            label="Description"
            id="description"
            formControlName="description"
            rows="5"
            placeholder="Add a description"
          >
            You have a new alert
          </ngx-zen-textarea>
          } @case(1) {
          <ngx-zen-textarea
            id="description2"
            formControlName="description2"
            rows="3"
            shape="curve"
            placeholder="Add a description"
          >
            You have a new alert
          </ngx-zen-textarea>
          } @case(2) {
          <ngx-zen-textarea
            id="description2"
            formControlName="description2"
            rows="1"
            shape="curve"
            placeholder="Add a description"
            resize="vertical"
          >
            You have a new alert
          </ngx-zen-textarea>
          } @case(3) {
          <ngx-zen-textarea
            id="description2"
            formControlName="description2"
            rows="1"
            shape="curve"
            placeholder="Add a description"
            resize="auto"
          >
            You have a new alert
          </ngx-zen-textarea>
          } }
        </form>
      </div>
      <div class="code-wrapper">
        <app-code-block [markdownData]="markdown"></app-code-block>
      </div>
    </div>
  </div>
</ng-template>
