<nav class="side-menu">
  <ul>
    @for(item of items; track item;) {
    <li>
      <a routerLink="/button">{{ item.title }}</a>
      @if(item.subItems){
      <div class="sub-menu">
        <ul>
          @for(subitem of item.subItems; track subitem;) {
          <li
            routerLink="{{ subitem.routerLink }}"
            routerLinkActive="router-link-active"
          >
            <a>{{ subitem.title }}</a>
          </li>
          }
        </ul>
      </div>
      }
    </li>
    }
  </ul>
</nav>
