<nav class="side-menu">
  <ul>
    <li>
      <a routerLink="/button">Components</a>
      <div class="sub-menu">
        <ul>
          <li routerLink="/alert" routerLinkActive="router-link-active">
            <a>Alert</a>
          </li>
          <li routerLink="/button" routerLinkActive="router-link-active">
            <a>Button</a>
          </li>
          <li routerLink="/dialog" routerLinkActive="router-link-active">
            <a>Dialog</a>
          </li>
          <li routerLink="/input" routerLinkActive="router-link-active">
            <a>Input</a>
          </li>
          <li routerLink="/snackbar" routerLinkActive="router-link-active">
            <a>Snackbar</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
