<div class="flex justify-center items-center">
  <zap-checkbox id="checkbox" label="Remember me" [formControl]="checkboxControl" size="compact">
    <span zapLabel class="text-sm text-gray-500">I agree to the terms and conditions</span>
    <svg zapIcon xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="h-4 w-4">
      <path
        d="M96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320z" />
    </svg>
  </zap-checkbox>
</div>
