@if (service) {
  <div>
    <zap-button
      text="Show Toast"
      icon="fa-thin fa-arrow-trend-up"
      size="base"
      (click)="showToast()"></zap-button>
    <ng-template #customToastTpl let-title="title" let-dismiss="dismiss">
      <div class="__zap__toast__content">
        <p class="__zap__toast__title">{{ title }}</p>
        <p class="__zap__toast__text">Custom content from template</p>
      </div>
      <div class="__zap__toast__actions">
        <button class="btn" (click)="dismiss()">Close</button>
      </div>
    </ng-template>
  </div>
} @else {
  <zap-toast
    [title]="title"
    [text]="text"
    [action]="action"
    class="w-full"
    (actioned)="handleActionClick()"></zap-toast>
}
