<section class="footer__home__wrapper">
  <div class="footer__home__container">
    <div class="footer__home__top">
      <span class="text-xl font-extralight text-zinc-300 w-[70vw]">
        <a
          class="!text-xl !font-light !text-[#EA2B81] !underline"
          href="https://togethercreative.co.uk"
          target="_blank">
          Sign up</a
        >
        to our newsletter to be up to date with <br class="hidden lg:block" />
        latest zap ui releases and news
      </span>
    </div>
    <div class="footer__home__bottom">
      <div class="footer__home__links">
        <a
          class="!text-xs !font-normal !text-zinc-400 !no-underline"
          href="https://togethercreative.co.uk"
          target="_blank">
          Get in touch
        </a>
        <a
          class="!text-xs !font-normal !text-zinc-400 !no-underline"
          href="https://togethercreative.co.uk"
          target="_blank">
          Support and contribute
        </a>
        <a class="donate__link !no-underline" href="https://togethercreative.co.uk" target="_blank">
          Donate
        </a>
      </div>
      <div class="footer__home__copyright">
        <span class="!text-xs !font-normal !text-zinc-400">
          © Copyright 2025. All rights reserved.
        </span>
      </div>
    </div>
  </div>
</section>
