<section class="help__us__wrapper">
  <div class="help__us__container">
    <div class="help__us__header">
      <h2 class="alt">How you can help us</h2>
      <p class="md:!text-lg !text-zinc-500 !leading-[1.5] mt-4">
        We believe in open source, we believe in collaboration, but to take this
        <br />
        where we want it to go we need some help
      </p>
    </div>
    <div class="help__us__content">
      <div class="help__us__card network">
        <div class="help__us__card__content">
          <span class="help__us__card__title network">Tell your network</span>
          <span class="help__us__card__text">
            Let's spread the word! Post and share this with your <br />
            friends and help us grow.
          </span>
        </div>
        <div>
          <span class="status__chip network">Share with your network</span>
        </div>
      </div>
      <div class="help__us__separator">
        <div class="help__us__separator__content">
          <i class="help__us__arrow network fa-light fa-arrow-right"></i>
        </div>
      </div>
      <div class="help__us__card contribute">
        <div class="help__us__card__content">
          <span class="help__us__card__title contribute">Contribute</span>
          <span class="help__us__card__text">
            Join us in building something awesome! Contribute <br />
            your Angular skills, learn along the way, and <br />see your work come to life in our
            shared library.
          </span>
        </div>
        <div>
          <span class="status__chip contribute">See contribution rules</span>
        </div>
      </div>
      <div class="help__us__separator">
        <div class="help__us__separator__content">
          <i class="help__us__arrow contribute fa-light fa-arrow-right"></i>
        </div>
      </div>
      <div class="help__us__card donate">
        <div class="help__us__card__content">
          <span class="help__us__card__title donate">Donate</span>
          <span class="help__us__card__text">
            We're not a big corporation. Any donations we receive <br />
            are ring-fenced and plowed back into improving this product.
          </span>
        </div>
        <div>
          <span class="status__chip donate text-primary">Support the build</span>
        </div>
      </div>
    </div>
  </div>
</section>
