<div class="__zap__form__control" [ngClass]="classes">
  @if (label()) {
    <label [for]="id()" [id]="id() + '-label'" class="__zap__form__control__label">
      {{ label() }}
      @if (isRequired && indicator()) {
        <required-indicator />
      }
    </label>
  } @else if (labelDirective) {
    <ng-content select="[zapLabel]"></ng-content>
  }
  <div class="field__wrapper">
    <fieldset
      #inputSelectValueHolder
      role="combobox"
      [id]="id()"
      [attr.aria-invalid]="control.invalid"
      [attr.aria-disabled]="control.disabled"
      [attr.aria-expanded]="isOptionListOpen"
      aria-haspopup="listbox"
      [attr.aria-controls]="id() + '-options'"
      [attr.aria-labelledby]="id() + '-label'"
      [attr.aria-activedescendant]="hoveredOption ? id() + '-option-' + hoveredOption : null"
      class="__zap__form__control__select"
      (click)="toggleOptionsList()"
      tabindex="0"
      (keydown.enter)="toggleOptionsList()"
      [ngClass]="selectClasses">
      <legend class="sr-only">
        {{ label() ? label() : placeholder() ? placeholder() : 'Input' }}
      </legend>
      @if (icon() && iconPosition()) {
        <i class="fa-solid __zap__form__control__icon" [ngClass]="[icon(), iconPosition()]"></i>
      } @else if (iconDirective) {
        <ng-content select="[zapFormFieldIcon]"></ng-content>
      }
      @if (selectedTemplate() && selectedOptionValue.length > 0 && !multiselect()) {
        <ng-container
          [ngTemplateOutlet]="selectedTemplate()"
          [ngTemplateOutletContext]="{
            $implicit: getSelectedOption(selectedOptionValue[0]),
          }"></ng-container>
      } @else if (selectedOptionValue.length > 0 && !multiselect()) {
        {{ getSelected(selectedOptionValue[0]) }}
      } @else if (selectedOptionValue.length > 0 && multiselect()) {
        <div class="chips">
          @for (option of selectedOptionValue; track option) {
            <span
              class="chip __zap__form__control__selected handler"
              (click)="cancelOption($event, option)"
              tabindex="0"
              (keydown.enter)="cancelOption($event, option)">
              {{ getSelected(option) }}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path
                  d="M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z" />
              </svg>
            </span>
          }
        </div>
      } @else {
        <span class="__zap__form__control__placeholder">
          {{ placeholder() }}
        </span>
      }
      <div class="handler">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          width="14"
          height="14"
          class="__zap__form__control__dropdown"
          [class.open]="isOptionListOpen">
          <path
            fill="currentColor"
            d="M212.7 363.3c6.2 6.2 16.4 6.2 22.6 0l160-160c6.2-6.2 6.2-16.4 0-22.6s-16.4-6.2-22.6 0L224 329.4 75.3 180.7c-6.2-6.2-16.4-6.2-22.6 0s-6.2 16.4 0 22.6l160 160z" />
        </svg>
      </div>
    </fieldset>
    <ng-template #optionsPanel>
      <div class="__zap__form__control__options__container" [ngClass]="optionsClasses">
        <div
          role="listbox"
          [attr.aria-multiselectable]="multiselect() ? 'true' : null"
          class="__zap__form__control__options"
          zapScrollArea>
          @if (searchable()) {
            <fieldset>
              <legend class="sr-only">{{ searchPlaceholder() }}</legend>
              <svg
                width="14"
                height="14"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                class="__zap__form__control__search__icon">
                <path
                  fill="currentColor"
                  d="M368 208A160 160 0 1 0 48 208a160 160 0 1 0 320 0zM337.1 371.1C301.7 399.2 256.8 416 208 416C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208c0 48.8-16.8 93.7-44.9 129.1L505 471c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L337.1 371.1z" />
              </svg>
              <label class="sr-only" [for]="id() + '-search'">{{
                searchPlaceholder() || 'Search'
              }}</label>
              <input
                #search
                type="text"
                [id]="id() + '-search'"
                [attr.aria-controls]="id() + '-options'"
                class="__zap__form__control__search"
                [placeholder]="searchPlaceholder()"
                (input)="handleSearch($event)"
                tabindex="0"
                aria-live="polite" />
            </fieldset>
          }
          @if (filteredOptions.length) {
            @for (option of filteredOptions; track $index; let i = $index) {
              <div
                class="__zap__form__control__option"
                role="option"
                [id]="id() + '-option-' + option.value"
                (mouseenter)="hoveredOption = option.value"
                (mouseleave)="hoveredOption = ''"
                (click)="selectOption(option)"
                tabindex="0"
                (keydown.enter)="selectOption(option)"
                [ngClass]="{
                  __zap__form__control__selected: selectedOptionValue.includes(option.value),
                  __zap__form__control__hovered: hoveredOption === option.value,
                }"
                [attr.aria-selected]="selectedOptionValue.includes(option.value)"
                [class.multiselect]="multiselect()">
                @if (multiselect()) {
                  <div
                    class="checkbox __zap__form__control__checkbox"
                    [class.checked]="selectedOptionValue.includes(option.value)"
                    [class.__zap__form__control__checked]="
                      selectedOptionValue.includes(option.value)
                    ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                      <path
                        d="M441 103c9.4 9.4 9.4 24.6 0 33.9L177 401c-9.4 9.4-24.6 9.4-33.9 0L7 265c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l119 119L407 103c9.4-9.4 24.6-9.4 33.9 0z" />
                    </svg>
                  </div>
                }
                @if (optionTemplate()) {
                  <ng-container
                    [ngTemplateOutlet]="optionTemplate()"
                    [ngTemplateOutletContext]="{ $implicit: option }"></ng-container>
                } @else {
                  {{ option.label }}
                }
              </div>
            }
          } @else {
            <div class="__zap__form__control__option __no__options" role="listitem">
              {{ notFound() }}
            </div>
          }
        </div>
      </div>
    </ng-template>
  </div>
  @if (helpText()) {
    <p class="__zap__form__control__help__text">{{ helpText() }}</p>
  } @else if (helpTextDirective) {
    <ng-content select="[zapFormFieldHelpText]"></ng-content>
  }
  @if (control.invalid && control.touched) {
    <div class="mt-30">
      <validation-error
        [errors]="control.errors"
        [zapClass]="zapClass()"
        [customErrorMessages]="customErrorMessages()"></validation-error>
    </div>
  }
</div>
