<div
  class="__zap__form__control"
  [ngClass]="[zapClass, size, shape, icon || iconDirective ? iconPosition : '']"
>
  @if(label){
  <label [for]="id" class="__zap__form__control__label">{{ label }}</label>
  }
  <div class="field__wrapper">
    <fieldset
      #inputSelectValueHolder
      class="__zap__form__control__select"
      (click)="toggleOptionsList()"
      [id]="id"
      tabindex="0"
    >
      @if(label) {
      <legend class="sr-only">{{ label }}</legend>
      } @if(icon && iconPosition) {
      <i
        class="fa-solid __zap__form__control__icon"
        [ngClass]="[icon, iconPosition]"
      ></i>
      } @else if (iconDirective) {
      <ng-content select="[zapFormFieldIcon]"></ng-content>
      }
       @if(selectedTemplate && selectedOptionValue.length > 0 && !multiselect)
      {
      <ng-container
        [ngTemplateOutlet]="selectedTemplate"
        [ngTemplateOutletContext]="{
          $implicit: getSelectedOption(selectedOptionValue[0])
        }"
      ></ng-container>
      } @else if(selectedOptionValue.length > 0 && !multiselect) {
      <p class="__zap__form__control__selected">
        {{ getSelected(selectedOptionValue[0]) }}
      </p>
      } @else if(selectedOptionValue.length > 0 && multiselect) {
      <div class="chips">
        @for(option of selectedOptionValue; track option;) {
        <span
          class="chip __zap__form__control__selected"
          (click)="cancelOption($event, option)"
        >
          {{ getSelected(option) }}
        </span>
        }
      </div>
      } @else {
      <span class="__zap__form__control__placeholder">
        {{ placeholder }}
      </span>
      }
      <div class="handler">
        <i
          class="fa-solid __zap__form__control__dropdown"
          [ngClass]="{
            'fa-angle-down': !isOptionListOpen,
            'fa-angle-up': isOptionListOpen
          }"
        ></i>
      </div>
    </fieldset>
    @if(isOptionListOpen) {
    <div #optionList class="__zap__form__control__options" role="list">
      @if(searchable) {
      <fieldset>
        <i class="fa-solid fa-search __zap__form__control__search__icon"></i>
        <input
          #search
          type="text"
          [id]="id"
          class="__zap__form__control__search"
          [placeholder]="searchPlaceholder"
          (input)="handleSearch($event)"
        />
      </fieldset>
      } @if(filteredOptions.length) { @for(option of filteredOptions; track
      option; let i = $index) {
      <div
        class="__zap__form__control__option"
        role="listitem"
        (mouseenter)="hoveredOption = option.value"
        (mouseleave)="hoveredOption = ''"
        (click)="selectOption(option)"
        [ngClass]="{
          __zap__form__control__selected: selectedOptionValue.includes(
            option.value
          ),
          __zap__form__control__hovered: hoveredOption === option.value
        }"
        [class.multiselect]="multiselect"
      >
        @if(multiselect) {
        <div
          class="checkbox __zap__form__control__checkbox"
          [class.checked]="selectedOptionValue.includes(option.value)"
          [class.__zap__form__control__checked]="
            selectedOptionValue.includes(option.value)
          "
        ></div>
        } @if(optionTemplate) {
        <ng-container
          [ngTemplateOutlet]="optionTemplate"
          [ngTemplateOutletContext]="{ $implicit: option }"
        ></ng-container>
        } @else {
        {{ option.label }}
        }
      </div>
      } } @else {
      <div class="__zap__form__control__option __no__options" role="listitem">
        {{ notFound }}
      </div>
      }
    </div>
    }
  </div>
  @if(helpText) {
  <p class="__zap__form__control__help__text">{{ helpText }}</p>
  } @else if (helpTextDirective) {
  <ng-content select="[zapFormFieldHelpText]"></ng-content>
  } @if(control.invalid && control.touched) {
  <div class="mt-30">
    <validation-error
      [errors]="control.errors"
      [zapClass]="zapClass"
      [customErrorMessages]="customErrorMessages"
    ></validation-error>
  </div>
  }
</div>
