<div class="flex space-x-10 w-full">
  <div class="flex flex-col space-y-10 w-full">
    <zap-input id="username" placeholder="Enter your username">
      <p zapLabel>Username or email</p>
      <p zapFormFieldHelpText>Explain your message in a few words</p>
    </zap-input>
    <zap-input id="username" placeholder="Enter your username" [formControl]="usernameControl">
    </zap-input>
    <zap-input id="username" placeholder="Enter your username" shape="curve"></zap-input>
    <zap-input id="username" placeholder="Enter your username" shape="pill"></zap-input>
  </div>
  <div class="flex flex-col space-y-10 w-full">
    <zap-input
      id="username"
      placeholder="Enter your username"
      [formControl]="usernameControl2"
      label="Username or email">
    </zap-input>
    <zap-input
      id="username"
      placeholder="Enter your username"
      shape="curve"
      (iconClick)="handleIconClick($event)">
      <svg zapFormFieldIcon xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          fill="currentColor"
          d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
      </svg>
    </zap-input>
    <zap-input id="username" placeholder="Enter your username" shape="curve" iconPosition="right">
      <svg zapFormFieldIcon xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          fill="currentColor"
          d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
      </svg>
    </zap-input>
    <zap-input
      id="username"
      placeholder="Enter your username"
      shape="curve"
      size="compact"></zap-input>
    <div class="rtl">
      <zap-input
        id="username"
        placeholder="הזן את שם המשתמש שלך"
        shape="curve"
        size="compact"
        [formControl]="usernameControl3"
        label="שם משתמש (RTL)"
        [customErrorMessages]="hebrewErrorMessages">
      </zap-input>
    </div>
  </div>
</div>
