.__zap__form__control {
  @apply flex flex-col gap-y-2 w-full rounded-none;

  fieldset {
    @apply relative border-0 outline-none;

    i {
      @apply absolute;
      @apply text-primary;
      @apply top-1/2;
      @apply -translate-y-1/2;
      @apply left-3;

      &.right {
        @apply left-auto;
        @apply right-3;
      }
    }
  }

  &__label {
    @apply text-secondary;
  }

  &__input {
    @apply text-secondary border-secondary/10 text-md;
    @apply w-full px-3 py-2 border bg-transparent;
    @apply focus-within:outline-0 focus-within:ring-2 focus-within:ring-offset-0;
    @apply rounded-[var(--zap-shape)];
  }

  &.left {
    .__zap__form__control__input {
      @apply pl-10;
    }
  }

  &.pill {
    .__zap__form__control__input {
      @apply rounded-full;
    }
  }

  &.compact {
    i {
      @apply text-xs;
    }

    .__zap__form__control__input {
      @apply text-sm px-2 py-1.5;
    }
  }

  &.curve {
    .__zap__form__control__input {
      @apply rounded-md;
    }
  }

  &.flat {
    .__zap__form__control__input {
      @apply rounded-none;
    }
  }

  input:disabled {
    @apply opacity-50;
  }

  input::placeholder {
    @apply text-secondary/30;
  }

  input:focus {
    @apply ring-info;
  }

  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    @apply m-0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
