<h1>Alert</h1>

<p class="lead">
  Alerts are crucial UI elements used to convey important messages to users. They serve as a way to
  display notifications, warnings, confirmations, or error messages in an application.
</p>

<spacer height="40px"></spacer>

<ttl text="Basic alert"></ttl>

<app-preview-code [markdown]="markdown1[0]">
  <zap-alert
    [type]="type"
    [shape]="shape"
    [variant]="variant"
    [icon]="icon"
    zapClass="max-xl:!min-w-[246px] !z-0">
    You have a new message
  </zap-alert>
</app-preview-code>

<spacer height="40px"></spacer>

<ttl text="Optional properties"></ttl>

<div class="info-card">
  <i class="fa-solid fa-circle-info mr-2"></i>
  Use the properties below to style the alert and copy the code to your project. Try clicking on
  them.
</div>

<div class="max-w-full overflow-x-auto">
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th style="width: 20%">Property</th>
        <th style="width: 20%">Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><code>type</code></p>
        </td>
        <td>
          <p>
            <code (click)="updateType('success')">success</code> |
            <code (click)="updateType('warning')">warning</code> |
            <code (click)="updateType('error')">error</code> |
            <code (click)="updateType('info')">info</code> |
            <code (click)="updateType('default')">default</code>
          </p>
        </td>
        <td>
          <p>
            Defines the alert type.
            <code (click)="updateType('success')">success</code> is a green alert,
            <code (click)="updateType('warning')">warning</code> is a yellow alert,
            <code (click)="updateType('error')">error</code> is a red alert,
            <code (click)="updateType('info')">info</code> is a blue alert, and
            <code (click)="updateType('default')">default</code> is the standard alert.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>shape</code></p>
        </td>
        <td>
          <p>
            <code (click)="updateShape('flat')">flat</code> |
            <code (click)="updateShape('pill')">pill</code> |
            <code (click)="updateShape('curve')">curve</code>
          </p>
        </td>
        <td>
          <p>
            Defines the alert's shape.
            <code (click)="updateShape('pill')">pill</code> is a fully rounded alert,
            <code (click)="updateShape('curve')">curve</code> has rounded corners, and
            <code (click)="updateShape('flat')">flat</code> is a classic square-cornered alert.
            Default is <code (click)="updateShape('flat')">flat</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>variant</code></p>
        </td>
        <td>
          <p>
            <code (click)="updateVariant('default')">default</code> |
            <code (click)="updateVariant('outlined')">outlined</code>
          </p>
        </td>
        <td>
          <p>
            Defines the alert's variant.
            <code>outlined</code> is a bordered alert, and <code>default</code> is a standard alert.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>icon</code></p>
        </td>
        <td>
          <p class="font-mono">string</p>
        </td>
        <td>
          <p>
            Specifies a Font Awesome class for the alert's icon (e.g.,
            <code (click)="updateIcon('fa-send')">fa-send</code>).
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><code>zapClass</code></p>
        </td>
        <td>
          <p class="font-mono">string</p>
        </td>
        <td>
          <p>
            Allows overriding default styles by passing Tailwind CSS classes. Utilize the
            <code class="!cursor-auto">&#64;zaplib/zapui/tailwind</code> plugin to target specific
            elements within the alert component.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<spacer height="40px"></spacer>

<ttl text="Error alert with icon and custom text"></ttl>

<app-preview-code [markdown]="markdown2[0]">
  <zap-alert
    type="error"
    shape="curve"
    icon="fa-solid fa-circle-info"
    zapClass="!items-start dismiss:!top-6 max-xl:!min-w-[246px] !z-0">
    <div>
      <p style="all: unset">There is an issue with:</p>
      <ul class="mt-1">
        <li class="list-disc ml-4">Saving the document</li>
        <li class="list-disc ml-4">Sending the email</li>
      </ul>
    </div>
  </zap-alert>
</app-preview-code>

<spacer height="40px"></spacer>

<ttl text="Supported directives"></ttl>

<div class="max-w-full overflow-x-auto">
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th style="width: 20%">Selector</th>
        <th style="width: 20%">Directive name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><code>zapIcon</code></p>
        </td>
        <td>
          <p class="font-mono">ZapIconDirective</p>
        </td>
        <td>
          <p>
            A directive that enables adding any type of icon to a alert, including SVGs, font-based
            icons, and more.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ttl text="Example" type="h4"></ttl>

<app-preview-code [markdown]="markdownDirective">
  <zap-alert zapClass="max-sm:!min-w-[206px] max-sm:!max-w-[206px] !z-10">
    <svg zapIcon xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path
        fill="currentColor"
        d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
    </svg>
    You have a new message
  </zap-alert>
</app-preview-code>

<spacer height="40px"></spacer>

<ttl text="Global configurations"></ttl>

<p>
  A list of global styles, including shape, size, color, font sizes, font weights, and letter
  spacing can be provided via <code>themeLibrary</code> in the
  <code>provideZapOption</code> provider.. If you have multi theme setup, you can also provide theme
  specific colors. These apply to all default variants through out the app unless component level
  styles are provided.
</p>
<spacer height="40px"></spacer>

<ttl text="Example" type="h5"></ttl>
<spacer></spacer>

<app-code
  [markdown]="markdownGlobal.markdown"
  [language]="markdownGlobal.language"
  [title]="markdownGlobal.title">
</app-code>

<spacer height="40px"></spacer>

<ttl text="Shape and Size" type="h5"></ttl>

<div class="max-w-full overflow-x-auto">
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th style="width: 20%"><p>Property</p></th>
        <th><p>Description</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><code>shape</code></p>
        </td>
        <td>
          <p>
            Defines the shape of the alert. Can be <code>flat</code>, <code>curve</code>, or
            <code>pill</code>.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<spacer height="40px"></spacer>
<ttl text="Colors" type="h5"></ttl>
<p>You can provide each of these colors for different themes that you use</p>

<div class="max-w-full overflow-x-auto">
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th style="width: 20%"><p>Property</p></th>
        <th><p>Description</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><code>bgColor</code></p>
        </td>
        <td><p>Background color of the alert.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>textColor</code></p>
        </td>
        <td><p>Text color of the alert.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>borderColor</code></p>
        </td>
        <td><p>Border color of the alert.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>dismissColor</code></p>
        </td>
        <td><p>Color of the dismiss icon</p></td>
      </tr>
      <tr>
        <td>
          <p><code>dismissHoverColor</code></p>
        </td>
        <td><p>Color of the dismiss icon when hovered</p></td>
      </tr>
    </tbody>
  </table>
</div>

<spacer height="40px"></spacer>
<ttl text="Other styles" type="h5"></ttl>
<p>You can provide a bunch of other styles, that are not theme based but rather generic</p>

<div class="max-w-full overflow-x-auto">
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th style="width: 20%"><p>Property</p></th>
        <th><p>Description</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p><code>borderRadius</code></p>
        </td>
        <td><p>Defines the radius of the alert's corners.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>paddingLeft</code></p>
        </td>
        <td><p>Left padding of the alert.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>paddingRight</code></p>
        </td>
        <td><p>Right padding of the alert.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>paddingTop</code></p>
        </td>
        <td><p>Top padding of the alert.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>paddingBottom</code></p>
        </td>
        <td><p>Bottom padding of the alert.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>padding</code></p>
        </td>
        <td><p>Padding around the alert's content.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>width</code></p>
        </td>
        <td><p>Width of the alert.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>height</code></p>
        </td>
        <td><p>Height of the alert.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>fontSize</code></p>
        </td>
        <td><p>Font size of the alert's text.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>fontWeight</code></p>
        </td>
        <td><p>Font weight of the alert's text.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>lineHeight</code></p>
        </td>
        <td><p>Line height of the alert's text.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>letterSpacing</code></p>
        </td>
        <td><p>Letter spacing of the alert's text.</p></td>
      </tr>
      <tr>
        <td>
          <p><code>textTransform</code></p>
        </td>
        <td>
          <p>Transforms the alert's text (e.g., uppercase, lowercase).</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<spacer height="40px"></spacer>
