<router-outlet></router-outlet>

<!-- <div class="h-screen grid grid-cols-12">
    <div class="bg-[#181818] col-span-6 p-20 h-screen">
      <form [formGroup]="form" class="flex flex-col gap-y-4">
        <ngx-zen-input
          #username
          label="Username"
          inputId="username"
          type="text"
          formControlName="username"
          zenClass=""
          theme="dark"
          shape="default"
          size="default"
          placeholder="Enter your username"
          [customErrorMessages]="customErrorMessages"
        ></ngx-zen-input>
      </form>
    </div>
  
    <div class="col-span-6 p-20 h-screen">
      <form [formGroup]="form" class="flex flex-col gap-y-4">
        <ngx-zen-input
          label="Email"
          inputId="email"
          type="email"
          formControlName="email"
          zenClass=""
          theme="light"
          icon="fa-search"
          iconPosition="right"
          placeholder="Enter your email"
          [customErrorMessages]="customErrorMessages"
        ></ngx-zen-input>
  
        <ngx-zen-button text="Submit" theme="light" zenClass=""></ngx-zen-button>
      </form>
      <ngx-zen-alert type="success" shape="curve" positionY="top" variant="classic" icon="fa-circle-check">
          <p class="mb-0">Copied to clipboard</p>
      </ngx-zen-alert>
    </div>
  </div>
   -->