<div class="__zap__radio__wrapper" [ngClass]="classes">
  <div class="wrapper">
    @if(label) {
    <p>{{ label }}</p>
    } @else if(labelDirective) {
    <ng-content select="[zapLabel]"></ng-content>
    }
    <div class="options__wrapper">
      @for (radio of options; track radio) {
      <fieldset>
        <legend class="sr-only">{{ radio.name }}</legend>
        <input
          type="radio"
          [id]="radio.value"
          [formControl]="control"
          [value]="radio.value"
          class="__zap__form__control__input"
        />

        <label
          class="__zap__form__control__label"
          [for]="radio.value"
          (click)="control.setValue(radio.value)"
          >{{ radio.name }}</label
        >
      </fieldset>
      }
    </div>
  </div>

  @if(control.invalid && control.touched) {
  <validation-error
    [errors]="control.errors"
    [zapClass]="zapClass"
    [customErrorMessages]="customErrorMessages"
  ></validation-error>
  }
</div>
