<div class="__zap__toast" [ngClass]="classes">
  @if (template()) {
    <ng-container
      [ngTemplateOutlet]="template()"
      [ngTemplateOutletContext]="templateOutletContext"></ng-container>
  } @else {
    @if (title() || text() || action()) {
      <div class="__zap__toast__content">
        @if (title()) {
          <p class="__zap__toast__title">{{ title() }}</p>
        }
        @if (text()) {
          <p class="__zap__toast__text">{{ text() }}</p>
        }
      </div>
      @if (action()) {
        <div class="__zap__toast__actions">
          <button
            class="btn"
            (click)="handleActionClick()"
            tabindex="0"
            (keydown)="handleActionClick()">
            {{ action() }}
          </button>
        </div>
      }
    } @else {
      <ng-content></ng-content>
    }
  }

  <div
    class="handler"
    tabindex="0"
    (click)="handleDismiss()"
    tabindex="0"
    (keydown)="handleDismiss()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
      <path
        d="M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z" />
    </svg>
  </div>
</div>
