<div class="__ngx__zap__dialog" [ngClass]="classes">
  <h3 class="__ngx__zap__dialog__title">{{ title }}</h3>
  <i
    class="__ngx__zap__dialog__handler fa-solid fa-xmark"
    (click)="cancel.emit()"
  ></i>

  @if(text) {
  <div class="__ngx__zap__dialog__content">
    <p class="text">{{ text }}</p>
  </div>
  }

  <ng-content></ng-content>

  <div class="__ngx__zap__dialog__footer">
    @if (secondaryBtnTemplate) {
    <ng-container [ngTemplateOutlet]="secondaryBtnTemplate"></ng-container>
    } @else {
    <button class="btn secondary" (click)="cancel.emit()">No, cancel</button>
    } @if (primaryBtnTemplate) {
    <ng-container [ngTemplateOutlet]="primaryBtnTemplate"></ng-container>
    } @else {
    <button class="btn primary" (click)="confirm.emit()">Yes, confirm</button>
    }
  </div>
</div>
