<div class="flex space-x-4">
  <div class="flex flex-col space-y-4">
    <zap-button text="Get started" shape="flat" variant="outlined" [disabled]="true"></zap-button>
    <zap-button text="Get started" size="compact"></zap-button>
    <zap-button text="Get started" size="tight"></zap-button>
    <zap-button text="Get started" shape="curve"></zap-button>
    <zap-button text="Get started" shape="pill"></zap-button>
  </div>
  <div class="flex flex-col space-y-4">
    <zap-button text="Get started">
      <svg zapIcon xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          fill="currentColor"
          d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
      </svg>
    </zap-button>
    <zap-button text="Get started" iconPosition="right">
      <svg zapIcon xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          fill="currentColor"
          d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
      </svg>
    </zap-button>

    <zap-button
      text="Get started"
      shape="curve"
      img="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1200px-Google_%22G%22_logo.svg.png"
      imgPosition="right"></zap-button>

    <zap-button text="Get started" [icononly]="true" shape="pill">
      <svg zapIcon xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          fill="currentColor"
          d="M368 208A160 160 0 1 0 48 208a160 160 0 1 0 320 0zM337.1 371.1C301.7 399.2 256.8 416 208 416C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208c0 48.8-16.8 93.7-44.9 129.1L505 471c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L337.1 371.1z" />
      </svg>
    </zap-button>
    <zap-button text="Get started" [icononly]="true" variant="outlined" shape="pill">
      <svg zapIcon xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          fill="currentColor"
          d="M368 208A160 160 0 1 0 48 208a160 160 0 1 0 320 0zM337.1 371.1C301.7 399.2 256.8 416 208 416C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208c0 48.8-16.8 93.7-44.9 129.1L505 471c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L337.1 371.1z" />
      </svg>
    </zap-button>
  </div>
  <div class="flex flex-col space-y-4">
    <zap-button text="Get started" variant="outlined"></zap-button>
    <zap-button text="Get started" variant="outlined" type="success"></zap-button>
    <zap-button text="Get started" variant="outlined" type="error"></zap-button>
    <zap-button text="Get started" variant="outlined" type="info"></zap-button>
    <zap-button text="Get started" variant="outlined" type="warning"></zap-button>
  </div>
  <div class="flex flex-col space-y-4">
    <zap-button text="Get started" type="success"></zap-button>
    <zap-button text="Get started" type="error"></zap-button>
    <zap-button text="Get started" type="info"></zap-button>
    <zap-button text="Get started" type="warning"></zap-button>
    <zap-button text="Get started" shape="curve" [disabled]="true"></zap-button>
  </div>
</div>
