<section class="zap-container md:px-9">
  <div class="py-10">
    <h1 class="mb-2">Components for your next project</h1>
    <p class="!py-0 !leading-[1.5]">
      Copy, customize, super fast. List of sleek UI elements to copy and use in your projects
    </p>
    <p class="!py-0 !leading-[1.5]">All elements are built using zap components</p>
    <div class="mt-5">
      <zap-button text="Get started"></zap-button>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-5">
    <div
      class="col-span-7 max-[2220px]:col-span-8 max-xl:col-span-10 max-lg:col-span-12 grid grid-cols-1 md:grid-cols-2 gap-5 h-max">
      <div class="grid grid-cols-1 gap-5 h-max">
        <div class="card">
          <example-login></example-login>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-5 h-max">
        <div class="card">
          <example-cookie-settings></example-cookie-settings>
        </div>
      </div>
    </div>
  </div>
</section>
