<app-header class="sticky top-0 z-30"></app-header>
<div class="fixed -right-7 rotate-270 top-1/2 z-20">
  <a
    class="relative w-max cursor cursor-pointer"
    href="https://client.togethercreative.co.uk/h/j/BA367854779F47E5"
    target="_blank">
    <p class="relative z-10 text-primary p-2">Newsletter</p>
    <span
      class="bg-gradient-to-r from-[#F637E3] to-[#FA2C04] absolute left-0 right-0 top-0 bottom-0 block rounded-lg"></span>
  </a>
</div>
<main class="grid grid-cols-24 !max-w-full !px-0">
  <article class="col-span-24 !mt-0">
    <router-outlet></router-outlet>
  </article>
</main>
