<section class="min-h-screen">
  <h1>Accordions</h1>
  @for (item of markdowns; track item; let i = $index) {
    <ng-container
      *ngTemplateOutlet="
        card;
        context: {
          $implicit: item.markdown,
          title: item.title,
          index: i
        }
      "
    >
    </ng-container>
  }

  <h2>Properties</h2>
  <table>
    <thead>
      <tr>
        <th class="w-[10%]">Parameter</th>
        <th class="w-[10%]">Required</th>
        <th class="w-[30%]">Accepted values</th>
        <th class="w-[50%]">Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>title</code></td>
        <td><p>Required</p></td>
        <td><code>string</code></td>
        <td><p>Sets the title of the accordion section.</p></td>
      </tr>
      <tr>
        <td><code>isOpen</code></td>
        <td><p>Optional</p></td>
        <td><code>boolean</code></td>
        <td>
          <p>
            Controls the initial open state of the accordion. Defaults to
            <code>false</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td><code>size</code></td>
        <td><p>Optional</p></td>
        <td><code>compact</code>|<code>default</code>|<code>large</code></td>
        <td>
          <p>
            Sets the padding and font size for the accordion.
          </p>
        </td>
      </tr>
      <tr>
        <td><code>shape</code></td>
        <td><p>Optional</p></td>
        <td><code>square</code>|<code>rounded</code></td>
        <td>
          <p>
            Defines the shape of the accordion edges.
          </p>
        </td>
      </tr>
      <tr>
        <td><code>transition</code></td>
        <td><p>Optional</p></td>
        <td><code>smooth</code>|<code>snappy</code>|<code>none</code></td>
        <td>
          <p>
            Sets the transition effect for opening and closing the accordion.
          </p>
        </td>
      </tr>
      <tr>
        <td><code>iconPosition</code></td>
        <td><p>Optional</p></td>
        <td><code>left</code>|<code>right</code></td>
        <td>
          <p>
            Specifies the position of the accordion icon.
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="mt-10">Events</h2>
  <table>
    <thead>
      <tr>
        <th class="w-[10%]">Event</th>
        <th class="w-[50%]">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>toggle</code></td>
        <td>
          <p>
            Triggered each time the accordion is opened or closed. You can
            handle this event to perform actions such as logging the accordion
            state or loading dynamic content.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template let-markdown let-title="title" let-index="index" #card>
  <div class="card">
    <div class="header">
      <h2>{{ title }}</h2>
    </div>
    <div class="content">
      <div class="ui">
        @switch(index) {
          @case(0) {
            <ngx-zen-accordion title="Accordion Section {{ index + 1 }}">
              Basic content of section 1
            </ngx-zen-accordion>
          }
          @case(1) {
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              [isOpen]="true"
            >
              Default open content of section 2
            </ngx-zen-accordion>
          }
          @case(2) {
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              zenClass="bg-gray-200 text-blue-700 shadow-md"
            >
              Custom background content of section 3
            </ngx-zen-accordion>
          }
          @case(3) {
            <ngx-zen-accordion title="Accordion Section {{ index + 1 }}">
              <ul>
                <li>Item 1</li>
                <li>Item 2</li>
              </ul>
            </ngx-zen-accordion>
          }
          @case(4) {
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              size="compact"
            >
              Compact size content of section 5
            </ngx-zen-accordion>
          }
          @case(5) {
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              size="large"
            >
              Large size content of section 6
            </ngx-zen-accordion>
          }
          @case(6) {
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              shape="curve"
            >
              Rounded shape content of section 7
            </ngx-zen-accordion>
          }
          @case(7) {
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              transition="snappy"
            >
              Snappy transition content of section 8
            </ngx-zen-accordion>
          }
          @case(8) {
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              iconPosition="left"
            >
              Icon on left content of section 9
            </ngx-zen-accordion>
          }
        }
      </div>
      <div class="code-wrapper">
        <app-code-block [markdownData]="markdown"></app-code-block>
      </div>
    </div>
  </div>
</ng-template>
