<section class="min-h-screen">
  <h1>Accordions</h1>
  @for (item of markdowns; track item; let i = $index) {
    <ng-container
      *ngTemplateOutlet="
        card;
        context: {
          $implicit: item.markdown,
          title: item.title,
          index: i
        }
      "
    >
    </ng-container>
  }

  <h2>Properties</h2>
  <table>
    <thead>
      <tr>
        <th class="w-[10%]">Parameter</th>
        <th class="w-[10%]">Required</th>
        <th class="w-[30%]">Accepted values</th>
        <th class="w-[50%]">Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>title</code></td>
        <td><p>Required</p></td>
        <td><code>string</code></td>
        <td><p>Sets the title of the accordion section.</p></td>
      </tr>
      <tr>
        <td><code>isOpen</code></td>
        <td><p>Optional</p></td>
        <td><code>boolean</code></td>
        <td>
          <p>Controls the initial open state of the accordion. Defaults to <code>false</code>.</p>
        </td>
      </tr>
      <tr>
        <td><code>size</code></td>
        <td><p>Optional</p></td>
        <td><code>compact</code> | <code>default</code> | <code>large</code></td>
        <td>
          <p>Sets the padding and font size for the accordion content. <code>compact</code> reduces padding, while <code>large</code> increases it.</p>
        </td>
      </tr>
      <tr>
        <td><code>shape</code></td>
        <td><p>Optional</p></td>
        <td><code>default</code> | <code>curve</code></td>
        <td>
          <p>Defines the shape of the accordion edges. The <code>curve</code> option applies rounded corners to the accordion.</p>
        </td>
      </tr>
      <tr>
        <td><code>transition</code></td>
        <td><p>Optional</p></td>
        <td><code>smooth</code> | <code>snappy</code> | <code>none</code></td>
        <td>
          <p>Sets the transition effect for expanding and collapsing the accordion content. <code>smooth</code> offers a gradual transition, <code>snappy</code> is quicker, and <code>none</code> removes the transition effect.</p>
        </td>
      </tr>
      <tr>
        <td><code>iconPosition</code></td>
        <td><p>Optional</p></td>
        <td><code>left</code> | <code>right</code></td>
        <td>
          <p>Specifies the position of the accordion icon relative to the title. Defaults to <code>right</code>.</p>
        </td>
      </tr>
      <tr>
        <td><code>openIcon</code></td>
        <td><p>Optional</p></td>
        <td><code>string</code> (icon class)</td>
        <td>
          <p>Sets the icon displayed when the accordion is open. Default is <code>fa-minus</code>. Accepts any valid Font Awesome or custom icon class.</p>
        </td>
      </tr>
      <tr>
        <td><code>closeIcon</code></td>
        <td><p>Optional</p></td>
        <td><code>string</code> (icon class)</td>
        <td>
          <p>Sets the icon displayed when the accordion is closed. Default is <code>fa-plus</code>. Accepts any valid Font Awesome or custom icon class.</p>
        </td>
      </tr>
      <tr>
        <td><code>zenClass</code></td>
        <td><p>Optional</p></td>
        <td><code>string</code> (CSS classes)</td>
        <td>
          <p>Applies custom styles to the outer wrapper of the accordion. Allows custom control over styling such as colors and padding.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="mt-10">Events</h2>
  <table>
    <thead>
      <tr>
        <th class="w-[10%]">Event</th>
        <th class="w-[50%]">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>toggle</code></td>
        <td>
          <p>
            Triggered each time the accordion is opened or closed. You can
            handle this event to perform actions such as logging the accordion
            state or loading dynamic content.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template let-markdown let-title="title" let-index="index" #card>
  <div class="card">
    <div class="header">
      <h2>{{ title }}</h2>
    </div>
    <div class="content">
      <div class="ui mb-4">
        @switch(index) {
          @case(0) {
            <!-- Basic Accordion -->
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              zenClass="text-black bg-gray-200"
            >
              <div class="bg-gray-100 py-3 px-2">
                <p class="text-black">Basic content of section 1</p>
              </div>

            </ngx-zen-accordion>
          }
          @case(1) {
            <!-- Accordion Open by Default -->
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              [isOpen]="true"
              zenClass="text-black bg-gray-200"
            >
            <div class="py-3 px-2 bg-gray-100 border border-color-gray-100">
              <p class="text-black">Default open content of section 2</p>
            </div>

            </ngx-zen-accordion>
          }
          @case(2) {
            <!-- Accordion with List Content -->
            <ngx-zen-accordion title="Accordion Section {{ index + 1 }}" zenClass="text-black bg-gray-200">
              <ul class="list-disc list-inside px-2 py-2">
                <li class="text-black">Item 1</li>
                <li class="text-black">Item 2</li>
              </ul>
              <ol class="list-decimal list-inside px-2 py-2">
                <li class="text-black">Item 1</li>
                <li class="text-black">Item 2</li>
              </ol>
            </ngx-zen-accordion>
          }
          @case(3) {
            <!-- Compact Accordion -->
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              size="compact"
              zenClass="text-black bg-gray-200"
            >
            <div class="bg-gray-100 p-2 text-sm">
              <p class="text-black">Compact size content of section 5</p>
            </div>
            </ngx-zen-accordion>
          }
          @case(4) {
            <!-- Large Accordion -->
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              size="large"
              zenClass="text-black bg-gray-200"
            >
            <div class="bg-gray-100 p-6 text-lg">
              <p class="text-black">Large size content of section 6</p>
            </div>
            </ngx-zen-accordion>
          }
          @case(5) {
            <!-- Accordion with Rounded Edges -->
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              shape="curve"
              zenClass="text-black bg-gray-200"
            >
            <div class="bg-gray-100 py-3 px-2 rounded-lg">
              <p class="text-black">Rounded shape content of section 7</p>
            </div>
            </ngx-zen-accordion>
          }
          @case(6) {
            <!-- Accordion with Snappy Transition -->
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              transition="snappy"
              zenClass="text-black bg-gray-200"
            >
            <div class="bg-gray-100 py-3 px-2">
              <p class="text-black">Snappy transition content of section 8</p>
            </div>
            </ngx-zen-accordion>
          }
          @case(7) {
            <!-- Accordion with Left-aligned Icon -->
            <ngx-zen-accordion
              title="Accordion Section {{ index + 1 }}"
              iconPosition="left"
              zenClass="text-black bg-gray-200"
            >
            <div class="bg-gray-100 py-3 px-2">
              <p class="text-black">Icon on left content of section 9</p>
            </div>
            </ngx-zen-accordion>
          }
          @case(8) {
            <ngx-zen-accordion
              title="Accordion Section 10"
              openIcon="fa-chevron-up"
              closeIcon="fa-chevron-down"
              zenClass="text-black bg-gray-200"
            >
            <div class="bg-gray-100 py-3 px-2">
              <p class="text-black">Accordion with different open and close icons</p>
            </div>

            </ngx-zen-accordion>
          }
        }
      </div>
      <div class="code-wrapper">
        <app-code-block [markdownData]="markdown"></app-code-block>
      </div>
    </div>
  </div>
</ng-template>
