<div class="flex flex-col space-y-10 w-full">
  <zap-date-picker
    #datePicker
    id="some"
    label="Date picker"
    shape="flat"
    [formControl]="datePickerControl"
    helpText="Select your date of birth"
    [dropdown]="false"
    (onChange)="onChange($event)"></zap-date-picker>
  <zap-date-picker
    id="some"
    size="wide"
    label="Date picker"
    [formControl]="datePickerControl2"
    helpText="Select your date of birth"
    [disableInactive]="true"
    [disableWeekends]="true"
    [disableDates]="disableDates"
    [disableRanges]="disableRanges"></zap-date-picker>
  <zap-date-picker
    label="Range date picker"
    [range]="true"
    [breakpoints]="breakpoints"
    [formControl]="datePickerControl3"
    [dropdown]="false">
  </zap-date-picker>
  <zap-date-picker
    label="Range date picker"
    [range]="true"
    [formControl]="datePickerControl4"
    [breakpoints]="breakpoints2"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [daysOfWeek]="daysOfWeek">
  </zap-date-picker>
</div>
