.__zap__checkbox__control {
  @apply w-full flex flex-col gap-y-2;
  @apply items-start;
  @apply input:focus-within:outline-none;

  fieldset {
    @apply flex items-center gap-x-3;
  }

  &.right {
    fieldset {
      @apply flex-row-reverse;
    }
  }

  .__zap__checkbox__wrapper {
    @apply relative max-h-max;
    @apply h-[var(--zap-checkbox-height)] w-[var(--zap-checkbox-width)];

    input {
      @apply appearance-none border border-[var(--zap-checkbox-border-color)] bg-[var(--zap-checkbox-bg-color)] rounded-[var(--zap-checkbox-border-radius)] hover:bg-[var(--zap-checkbox-bg-hover-color)] hover:border-[var(--zap-checkbox-border-hover-color)] text-[var(--zap-checkbox-text-color)] hover:text-[var(--zap-checkbox-hover-text-color)] cursor-pointer relative;
      @apply pl-[var(--zap-checkbox-padding-left)] pr-[var(--zap-checkbox-padding-right)] pt-[var(--zap-checkbox-padding-top)] pb-[var(--zap-checkbox-padding-bottom)];
      @apply h-[var(--zap-checkbox-height)] w-[var(--zap-checkbox-width)];

      &:checked {
        @apply border-[var(--zap-checkbox-border-checked-color)] bg-[var(--zap-checkbox-bg-checked-color)];
      }
    }

    svg {
      @apply pointer-events-none hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  fill-[var(--zap-checkbox-text-checked-color)];
      @apply h-[var(--zap-checkbox-height)] w-[var(--zap-checkbox-width)] p-[2px];
      transform: translateY(-50%) translateX(-50%);
    }

    input:disabled {
      @apply cursor-not-allowed;
    }

    input {
      @apply focus-visible:outline-2 focus-visible:outline-[var(--zap-checkbox-focus-color)] focus-visible:outline-offset-2 focus-visible:outline;

      &:focus-visible:not(:checked) {
        @apply bg-[var(--zap-checkbox-bg-color)];
      }
    }

    &.checked svg {
      @apply block;
    }
  }

  label {
    @apply cursor-pointer text-[var(--zap-checkbox-label-color)] hover:text-[var(--zap-checkbox-hover-label-color)] text-[length:var(--zap-checkbox-font-size)] font-[var(--zap-checkbox-font-weight)] leading-[var(--zap-checkbox-line-height)] tracking-[var(--zap-checkbox-letter-spacing)];
    @apply focus-visible:outline-2 focus-visible:outline-[var(--zap-checkbox-focus-color)] focus-visible:outline-offset-2 focus-visible:outline rounded-sm;
  }

  &.flat {
    .__zap__checkbox__wrapper {
      input {
        @apply rounded-none;
      }

      label {
        @apply rounded-none;
      }
    }
  }

  &.compact {
    .__zap__checkbox__wrapper {
      input {
        @apply h-4 w-4;
      }
    }
  }

  &.curve {
    .__zap__checkbox__wrapper {
      input {
        @apply rounded;
      }
    }
  }

  &.disabled {
    @apply opacity-50 cursor-not-allowed;

    .__zap__checkbox__wrapper {
      input {
        @apply cursor-not-allowed;
      }
    }

    label {
      @apply cursor-not-allowed;
    }
  }
}

.sr-only {
  @apply absolute w-px h-px p-0 m-[-1px] overflow-hidden  whitespace-nowrap border-0;
  clip: rect(0, 0, 0, 0);
}
