<section>
  <h1>Getting Started</h1>
  <div class="steps">
    <div class="card">
      <div class="content">
        <p>
          To get started, please initialised the tailwind library in your
          angular project. Install <code>tailwindcss</code> via npm, and create
          your <code>tailwind.config.js</code> file.
        </p>
      </div>
      <div class="code">
        <app-code-block [markdownData]="markdown[0]"> </app-code-block>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <p>
          Add the paths to all of your template files in
          your <code>tailwind.config.js</code> file.
        </p>
      </div>
      <div class="code">
        <app-code-block [markdownData]="markdown[1]"> </app-code-block>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <p>
          Add the <code>tailwind</code> directives for each of Tailwind's layers
          to your main CSS file.
        </p>
      </div>
      <div class="code">
        <app-code-block [markdownData]="markdown[2]"> </app-code-block>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <p>
          Import <code>ngx-zen/tailwindplugin</code> for tailwind utilities into
          your <code>tailwind.config.js</code> file.
        </p>
      </div>
      <div class="code">
        <app-code-block [markdownData]="markdown[3]"> </app-code-block>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <p>
          Import <code>NgxZenModule</code> from the <code>ngx-zen</code> in your
          app module or individual component if you're using standalone
          component, you will also need to import <code>CommonModule</code> &
          <code>ReactiveFormsModule</code> when you start working with form
          elements
        </p>
      </div>
      <div class="code">
        <app-code-block [markdownData]="markdown[4]"> </app-code-block>
      </div>
    </div>
  </div>
</section>
