<!-- <ngx-zen-table>
  <ngx-zen-table-head>
    <ngx-zen-table-column>ID</ngx-zen-table-column>
    <ngx-zen-table-column [sortable]="true">Name</ngx-zen-table-column>
    <ngx-zen-table-column>Age</ngx-zen-table-column>
    <ngx-zen-table-column>Email</ngx-zen-table-column>
  </ngx-zen-table-head>
  <ngx-zen-table-body>
    <ngx-zen-table-row>
      <ngx-zen-table-cell>1</ngx-zen-table-cell>
      <ngx-zen-table-cell>Example one</ngx-zen-table-cell>
      <ngx-zen-table-cell>30</ngx-zen-table-cell>
      <ngx-zen-table-cell>email@example.com</ngx-zen-table-cell>
    </ngx-zen-table-row>
  </ngx-zen-table-body>
</ngx-zen-table> -->