<section class="min-h-screen">
  <h1>Tables</h1>

  @for (item of markdowns; track item; let i = $index) {
    <div class="mb-8">
      <h2>{{ item.title }}</h2>
      <ngx-zen-table
        [hoverable]="getConfigFromMarkdown(item).hoverable"
        [striped]="getConfigFromMarkdown(item).striped"
        [borderless]="getConfigFromMarkdown(item).borderless"
        [selectable]="getConfigFromMarkdown(item).selectable"
        [sortable]="getConfigFromMarkdown(item).sortable"
        [size]="getConfigFromMarkdown(item).size"
        (selectionChange)="onSelectionChange($event)"
        (sortChange)="onSortChange($event)"
      >
        <ngx-zen-table-head>
          <ngx-zen-table-column>ID</ngx-zen-table-column>
          <ngx-zen-table-column>Name</ngx-zen-table-column>
          <ngx-zen-table-column>Age</ngx-zen-table-column>
          <ngx-zen-table-column>Email</ngx-zen-table-column>
        </ngx-zen-table-head>

        <ngx-zen-table-body>
          @for (row of item.rows; track row) {
            <ngx-zen-table-row>
              <ngx-zen-table-cell>{{ row.id }}</ngx-zen-table-cell>
              <ngx-zen-table-cell>{{ row.name }}</ngx-zen-table-cell>
              <ngx-zen-table-cell>{{ row.age }}</ngx-zen-table-cell>
              <ngx-zen-table-cell>{{ row.email }}</ngx-zen-table-cell>
            </ngx-zen-table-row>
          }
        </ngx-zen-table-body>
      </ngx-zen-table>

      <div class="code-wrapper">
        <app-code-block [markdownData]="item.markdown"></app-code-block>
      </div>
    </div>
  }
</section>
